.img-box {
    overflow: hidden;
}
.img-box img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}


/* 브랜드 */
.brand{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.brand-contents {
    max-width: 370px;
    margin-left: 70px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.brand-contents > h4{
    font-weight: var(--font-semibold);
    font-size: 2.4rem;
}
.brand-contents > h1{
    font-weight: var(--font-semibold);
    font-size: 5rem;
}
.brand-contents > p{
    margin-top: 24px;
    line-height: 150%;
    font-weight: var(--font-regular);
    color: #4B4B4B;
}

.brand-img-wrap {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}
.brand-img-item {
    width: 220px;
    height: 50%;

    background-color: #F6F6F6;
}
.brand-img-model {
    width: 510px;
    height: 100%;
    overflow: hidden;
    background-color: gray;
}





/* item-menu-section */
.item-menu-section{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.item-container{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px;
    gap: 20px;
}

.item-container > a {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.item-container > a > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background-color: #F6F6F6;
}
.item-container > a .item-sub-text{
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(66, 66, 66, .4);
    width: 100%;
    height: 100%;

    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-container > a:hover > .item-sub-text{
    transition: .2s;
    opacity: 1;
}
.item-sub-text > .item-name{
    font-size: 1.6rem;
    font-weight: var(--font-semibold);
}
.item-sub-text > .item-price{
    font-size: 1.4rem;
}

/* 버튼 */
.btn-deliver-celeb-container {
    width: 100%;
    margin: 20px 0 0 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-deliver-celeb-container > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-deliver-celeb{
    text-align: left;
    font-weight: var(--font-semibold);
    font-size: 3rem;

    color: #AFAFAF;
    border: none;
    background-color: transparent;

    cursor: pointer;
}
.btn-deliver-celeb:hover{
    transition: .2s;
    color: #6e6e6e;
}
.btn-deliver-celeb.active {
    color: #000;
}




/* banner 아래 contents */
.banner-under-section-container > section {
    word-break: keep-all;
}
.contents-left,
.contents-right{
    width: 440px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
}
.contents-center {
    display: flex;
    flex-direction: column;

    width: 340px;
    margin: 0 30px;
    overflow: hidden;
}
.contents-center-right{
    width: 810px;
    margin-left: 30px;
    overflow: hidden;
}
.text-wrap{
    display: flex;
    flex-direction: column;
}
.banner-under-section-container > section {
    display: flex;
    flex-direction: row;
    height: 600px;
}
.banner-under-section-container h1 {
    font-size: 4rem;
    font-weight: var(--font-regular);
    margin-bottom: 50px;
    word-break: keep-all;
}
.banner-under-section-container p {
    word-break: keep-all;
    line-height: 150%;
    color: #4B4B4B;
}

.section-time {
    display: flex;
    flex-direction: row;
}
.section-time > .contents-center {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section-time > .contents-right {
    height: 50%;
}


/* section-365 */
.section-365 > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-365 .contents-center-right{
    height: 55%;
}


/* section-cheer */
.section-cheer > .contents-center{
    height: 50%;
}
.section-cheer > .contents-right > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* section-smile */
.banner-under-section-container > .section-smile{
    height: 420px;
    display: flex;
    flex-direction: row;
}


/* section-kakao */
.section-kakao > .contents-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-kakao > .contents-left > .img-box{
    height: 40%;
}
.section-kakao > .contents-left > div{
    display: flex;
    flex-direction: column;
}
.section-kakao > .contents-right{
    height: 50%;
}
