/* navibar style */

.globalnav-menu {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter:blur(20px) ;

    padding: 0 120px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

/* 로고 */
.globalnav-menu > a{
    z-index: 10;
}
/* 아이콘 */
.btn-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}
.globalnav-menu > .btn-mobile-menu,
.globalnav-menu .btn-mobile-delete{
    display: none;
    cursor: pointer;
}

.menu-wrap {
    display: flex;
    gap: 0 20px;

    height: 100%;
}
.menu-wrap .sub-menu{
    z-index: -1;
}
.menu-wrap > li{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    height: 100%;
}
.menu-wrap > li > a{
    position: relative;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 10;
}
.menu-wrap > li > a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #F6CA2A;
    transform: scaleX(0);
    transition:transform .25s ease-in-out;
    transform-origin: right;
}
.menu-wrap > li > a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}


/* sub-menu */
.sub-menu{
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 18rem;

    padding: 80px 120px 60px 120px;
    box-sizing: content-box;

    position: fixed;

    display: none;
}
.sub-menu > ul{
    display: flex;
    gap: 0 80px;
}
.sub-menu > ul > li{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.sub-menu > ul > li:not(:first-child){
    gap: 10px;
}
.sub-menu > ul > li > p{
    font-size: 1.2rem;
    color: #9e9e9e;
    margin-bottom: 5px;
}
.sub-menu > ul > li > a{
    font-size: 2.3rem;
    font-weight: var(--font-bold);
}
.sub-menu > ul > li:not(:first-child) > a{
    font-size: 1.4rem;
    font-weight: var(--font-regular);
}

/* 아이콘 */
.icon-wrap{
    display: flex;
    gap: 0 10px;
    height: 100%;
}
.icon-wrap .sub-menu {
    z-index: -1;
    height: 40rem;
}
.icon-wrap > li > button {
    width: 40px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.icon-wrap > li > button > img{
    width: 2.3rem;
}
.icon-wrap .sub-menu-wrap {
    flex-direction: column;
    gap: 3.5rem 0;
}
.icon-wrap .sub-menu-wrap > li{
    display: flex;
    width: calc(100% - 240px);
    max-width: 1600px;
}
.icon-wrap .sub-menu-wrap > li > h1{
    font-size: 2.5rem;
    margin-top: 2rem
}
.icon-wrap .sub-menu-wrap > li > input{
    font-size: 1.4rem;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
}
/* 검색 */
.icon-wrap .search-wrap {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height:4.5rem;
    justify-content: space-between;
}
.icon-wrap .search-wrap button{
    width: 3rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: .2s;
    color: #303030;
}
.icon-wrap .search-wrap button:hover{
    color: #000;
}
.icon-wrap .sub-menu-wrap > li > .search-input{
    width: 100%;
    font-size: 2rem;
    border: none;
    border-bottom: 1.5px solid #afafaf;
    border-radius: 0;
}
.icon-wrap .sub-menu-wrap > li > .search-input:focus{
    border: none;
    border-bottom: 1.5px solid #afafaf;
}

.icon-wrap .sub-menu-wrap > li > input:focus{
    outline: none;
    border: 1px solid #818181;
}

.icon-wrap .sub-menu-wrap > li > a{
    color: #303030;
}
.icon-wrap .sub-menu-wrap > li > a:hover{
    color: #000;
}
.icon-wrap .sub-menu-wrap > li > .btn-login{
    margin-top: 5px;    
}



/* 메뉴바 아래 흐린 흰색 배경 */
.globalnav-curtain {
    display: none;
    /* opacity: 0; */
    width: 100%;
    height: 100vh;
    backdrop-filter:blur(10px) ;
    /* transition: all 0.2s ease-in-out; */

    position: fixed;
    top: 0;
    left: 0;
    z-index: 899;
}