.swiper-slide {
    width: 100%;
    height: 100vh;
    position: relative;
}
.swiper-slide.banner1 {
    background-color: var(--color-light-blue);
}
.swiper-slide.banner2 {
    background-color: var(--color-pink);
}
.swiper-slide.banner3 {
    background-color: #FFD68D;
}


.swiper-slide .item-wrap {
    width: 630px;
    height: 630px;
    background-color: #E9F3F4;
    background-position: center;
    background-size: contain;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.swiper-slide .item-wrap.item1 {
    background-image: url("../img/mainBanner01.png");
}
.swiper-slide .item-wrap.item2 {
    background-image: url("../img/mainBanner02.png");
}
.swiper-slide .item-wrap.item3 {
    background-image: url("../img/mainBanner03.png");
}

.swiper-slide .item-wrap > img {
    width: 100%;
    height: 100%;
}
.swiper-slide .item-container > .btn-more-wrap{
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: 200px;
    
    z-index: 99;

    display: flex;
    gap: 14px;

}
.swiper-slide > .item-container > .btn-more-wrap > a{
    background-color: rgba(79, 150, 194, 0.50);
    backdrop-filter: blur(2px);
    font-size: 1.4rem;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1.5px solid #fff;
    color: #fff;
}
.swiper-slide > .item-container > .btn-more-wrap > p{
    font-size: 1.8rem;
    line-height: 150%;
    color: #fff;

    margin-top: -20px;
}
.swiper-slide.swiper-slide-active > .item-container > .btn-more-wrap > p{
    animation: text 1s .5s both;
}

.swiper-slide > h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.swiper-slide.swiper-slide-active > h1 {
    animation: text 1s .2s both;
}

.swiper-slide > .back-text {
    width: 640px;
    font-size: 135px;

    position: absolute;
    top: 130px;         /*TODO: 여기 top값 반응형 할 때 수정좀*/
    right: 50%;
}
.swiper-slide > .front-text { 
    max-width: 480px;
    font-size:100px;

    position: absolute;
    bottom: 200px;
    left: 55%;
    z-index: 100;
}

.next-btn-wrap{
    width: 145px;
    height:100px;

    position: absolute;
    left: 160px;
    bottom: 160px;
}

.next-btn-wrap > .btn-wrap{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.next-btn-wrap > .btn-wrap > .swiper-btn{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 50%;
    
    background-color: rgb(255, 255, 255, 0.3);
}
.next-btn-wrap > .btn-wrap > .swiper-btn > ion-icon{
    font-size: 20px;
    color: #fff;
}
.next-btn-wrap > .btn-wrap > .swiper-btn:hover{
    background-color: rgb(255, 255, 255, 0.5);
    transition: .2s;
}



@keyframes text {
    0% { opacity: 0; transform: translateY(30px);}
    100% { opacity:1; transform: translateY(0);}
}



/* .swiper-button-next, .swiper-button-prev {
    background-color: red;
} */