@media (max-width: 1024px) {
    .globalnav-menu {
        display: flex;
        flex-direction: row;
        padding: 0 60px;
    }
    .globalnav-menu > a { margin: 0 auto; }
    .globalnav-menu > .menu-container, 
    .globalnav-menu > .icon-wrap { 
        display: none; 
    }

    .globalnav-menu > .btn-mobile-menu {
        width: 40px;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        font-size: 2.3rem;
        margin-right: 100px;
        position: absolute;
    }

    .mobile-menu-white-box {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 80%;
        height: 100vh;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 999;
        padding: 20px 20px 80px 20px;
        justify-content: space-between;
        transform: translateY(-100%);
        transition: 0.5s;
    }
    .mobile-menu-white-box.active{
        transform: translateY(0);
        
    }

    .mobile-menu-white-box .btn-mobile-delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 2.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .mobile-menu-container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }


    .moblie-search-box {
        width: 100%;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #4B4B4B;
        margin: 12px 0 24px 0;
    }
    .moblie-search-box > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        font-size: 1.5rem;
        border: none;
        background-color: transparent;
    }
    .moblie-search-box > input {
        padding: 0 10px;
        width: 100%;
        border: none;
    }
    .moblie-search-box > input:focus {
        outline:none;
    }

    .mobile-sub-menu{
        display: none;
    }
    .mobile-menu-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mobile-menu-wrap > li > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        line-height: 100%;
        padding: 3px 0;
    }
    .mobile-menu-wrap > li > a > ion-icon{
        transition: .5s;
    }

    .mobile-menu-wrap .mobile-sub-menu {
        margin-top: 10px;
        margin-left: 20px;
        /* width: 50%; */
    }
    .mobile-sub-menu-wrap {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    .mobile-sub-menu-wrap > li {
        display: flex;
    }
    .mobile-sub-menu-wrap > li > a{
        color: #6e6e6e;
        font-size: 1.6rem;
    }

    .mobile-other-menu-container {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 14px;
        /* position: absolute; */
        /* bottom: 30px; */
        /* left: 20px; */
        z-index: -1;
    }

    
    /* 로고 */
    .globalnav-menu > a{
        z-index: 10;
    }
    /* 아이콘 */
    .btn-logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
    }
}


@media (max-width: 700px) {
    .menu-wrap > li > a {
        font-size: 2rem;
    }
    .menu-wrap .sub-menu {
        padding: 20px 0 20px 20px;
    }
    .sub-menu > ul > li > a {
        font-size: 1.8rem;
    }
}


@media (max-width: 500px) {
    .globalnav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        height: 50px;
    }

    .mobile-menu-white-box {
        width: 100%;
    }

    .btn-logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .globalnav-menu > .menu-container {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .sub-menu > ul {
        display: flex;
        gap: 0 20px;
    }
    .menu-wrap .sub-menu {
        padding: 10px 0 20px 10px;
    }
}